<h1><%= @author.first_name %> - <%= @author.last_name %></h1>
<%= link_to "Update", edit_author_path, class: "btn btn-success" %>
<%= link_to 'Destroy', @author, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<%= link_to "Back to Authors", authors_path, class: "btn btn-primary" %>
